<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href="style.css">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div style="display:none;">
            <img id="source" src="planet.svg" width="10" height="10">
        </div>
        <div id="coordinates"></div>
        <canvas id="canvas1"></canvas>
        <script type="module" src="main.js"></script>
    </body>
</html>