#canvas1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgb(19, 26, 44);
}


body {
    overscroll-behavior-y: contain;
    overscroll-behavior-x: contain;
    user-select: none;
}

#coordinates{
    position: absolute;
    z-index: 10;
    color: white;
}